@font-face { 
    font-family: 'CustomFont'; 
    src: url('fonts/Gilroy-Light.otf') format('opentype'); 
} 
*{
    font-family: 'CustomFont', sans-serif; 
}
#main {
  padding: 20px;    
  background-color: #9968d1;
    width: 180px;
    align-items: center;
    height: 260px;
    position: relative;
}

#screen {
    background-color: #fcebf3;
    width: 168.5px;
    height: 30px;
    margin-bottom: 10px;
    text-align: right;
    color: black;
    font-size: 20px;

}

#elements {
    line-height: 10px;
}
/* #f4b3d3 */
#elements button {
    margin: 1px 1px;
    border-radius: 50%;
    background-color: #f6db5e;
    height: 40px;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
}

#equalTo{
    margin-top: 7px ;
    height: 30px;
    background-color: #233e8b;
    width: 177.4px;
    font-size: 20px;
    color: white;
}

