  #main {
  padding: 20px;
  background-color: red;
    width: 180px;
    align-items: center;
    height: 260px;
    position: relative;
}

#screen {
  width: 163.5px;
  height: 30px;
  margin-bottom: 10px;
  text-align: right;
  color: black;

}

#elements {
    line-height: 10px;
}

button {
  height: 40px;
  width: 40px;
  font-size: 20px;
  cursor: pointer;
}

#equalTo{
    width: 172.4px;
}